.profile-header{
    margin-bottom: 5px;
    flex-direction: row;
    align-items: stretch;
    display: flex;
    padding-bottom: 30px;
    position: relative;
    border-bottom: 1px solid #dbdbdb;
}

.profile-photo{
    margin-right: 30px;
    margin-left: 30px;
    align-items: stretch;
    border: 0 solid #000;
    display: flex;
    padding: 0;
    position: relative;
}

.header-content{
    margin-top: 20px;
}

.photo{
    height: 150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: stretch;
    flex-direction: column;
    object-fit: cover;
    margin: 0;
    padding: 0;
    position: relative;
    border-radius: 50%;
    background-color: #fafafa;
    overflow: hidden;
}

.profile-user{
    margin-bottom: 20px;
    align-items: center;
    flex-direction: row;
    min-width: 0;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    color: #262626;
    font-size: 20px;
    font-weight: 650;
    line-height: 18px;
}

.follower-info{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
}

p{
    font-size: 16px;
    margin-right: 40px;
}

.profile-description{
    font-size: 16px;
    font-weight: 500;
}
