.post{
    width: 600px;
    display: block;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    box-shadow: 0 2px 7px #dfdfdf;
    background: #fafafa;
}

.post-photo{
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 5px;
}

.post-user {
    font-size: 1.3rem;
    padding: 5px;
    text-transform: uppercase;
}

.post-text {
    color: gray;
    padding: 5px;
    font-size: 0.9rem;
    text-transform: uppercase;
}