.post{
    width: 600px;
    align-items: stretch;
    box-shadow: 0 2px 7px #dfdfdf;
    background: #fafafa;
    display: flex;
    flex-basis: auto;
    position: relative;
    justify-content: center;
    margin-bottom: 12px;
    flex-direction: row;
    padding-top: 12px;
}

.post-photo{
    object-fit: cover;
    border-radius: 16px;
    border-color: rgb(56, 68, 77);
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    align-items: stretch;
    border: 0 solid black;
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 70%;
    margin-top: 2px;
    margin-bottom: 10px;
    margin-left: 15px;

}

.post-user {
    font-size: 15px;
    text-transform: uppercase;
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    position: relative;
    margin-bottom: 2px;
    margin-left: 15px;
    padding-right: 16px;
    font-weight: 700;
    line-height: 20px;
}

.post-text {
    color: rgb(0, 0, 0);
    align-items: stretch;
    margin-left: 15px;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    position: relative;
    font-size: 15px;
    font-weight: 500;
    padding-right: 16px;
    
}

.post-icons{
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 4px;
    margin-left: -7px;
    padding-bottom: 8px;
    padding-top: 6px;
    flex-direction: row;
    align-items: stretch;
    display: flex;
    position: relative;
}

.like-btn{
    height: 20px;
    width: 20px;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    padding: 8px;
    display: block;
    position: relative;
}

.post-icon{
    flex-basis: 48px;
    margin-right: 12px;
    margin-left: 12px;
    align-items: center;
    position: relative;

}

.post-profile-icon{
    height: 48px;
    width: 56px;
    overflow: visible;
    display: block;
    align-items: stretch;
    flex-direction: column;
    position: relative;
    border-radius: 9999px
}

.post-contents{
    width:100%;
}
